.content-wrapper {
  &__title {
    font-size: $h6-font-size;
  }

  &__inner {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 35%
    );
  }
}
