.person-form {
  &__add-btn {
    color: $white;
    min-height: 19rem;
    background: linear-gradient(
      180deg,
      rgba(207, 237, 251, 1) 0%,
      rgba(143, 213, 248, 1) 100%
    );
  }
}

.person-card {
  min-height: 19rem;
  color: $white;
  background: linear-gradient(
    180deg,
    rgba(81, 177, 249, 1) 0%,
    rgba(2, 114, 195, 1) 100%
  );

  &__salary {
    color: #89e527;
  }
}
